div{
    height: 100px;
    width: 100px;
    background-color: darkblue;
    color: aliceblue;
    animation: per1 9s ease-in-out 1s infinite normal;

}

 /* @keyframes animate1 { 
    from{
        background-color: darkblue;
        font-size:10px;

    }
    to{
        background-color: darkgoldenrod;
        font-size: 55px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        width: 200px;
        margin-left: 100px;
     
    
} */

@keyframes per1 {
    0%{background-color: darkred;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;font-size: 10px;color: beige;}
    25%{background-color: navy;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;font-size: 30px;width: 150px;margin-bottom: 100px;color: burlywood;}
    50%{background-color: darkgreen;font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 50px;width: 200px;margin-top: 100px;color: lightgreen;}
    75%{background-color: gray;color: black;width: 220px;font-family: Verdana, Geneva, Tahoma, sans-serif;font-size: 60px;}
    100%{background-color: lightpink;color: hotpink;font-family: 'Times New Roman', Times, serif;width:150px;margin-left: 100px;height: 150px;font-size: 50px;}
    
    
}