#d1{
    height: 300px;
    width: 30%;
    border: 2px solid black;
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:flex-end;
    align-items:center;
    align-content:flex-start;


}
#d2{
    height: 100px;
    width: 100px;
    background-color: blanchedalmond;
    border: 2px solid black;
    flex-shrink: 0;
    align-self:flex-end;

}
#d3{
    height: 150px;
    width: 100px;
    background-color: rgb(8, 59, 126);
    border: 2px solid black;
    flex-shrink:

}
#d4{
    height: 180px;
    width: 100px;
    background-color: rgb(204, 207, 15);
    border: 2px solid black;

}
